
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  color: #393E46;
  margin: 50px auto 0 auto;
  font-family: 'Yellowtail', cursive;

}

h2{
  font-size: 2.50rem;
  color: #393E46;
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}


.top-container{
  background-color: #96C7C1;
  position: relative;
  padding-top: 100px;
  /*padding-top: 100px;*/
/*height: 200px;
  width: 200px;
  border: solid 10px;
  padding: 20px;*/

}

.top-cloud{
  position: absolute;
  right: 500px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
  left: 600px;
  bottom: 300px;
}


.perfil{
  position: relative;
  height: 300px;
  width: 300px;
  top: 10px;
}
